.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    max-width: 50px;
    margin-right: 20px;
}
@media only screen and (max-width: 900px) {
    .container{
        flex-direction: column;
    }
    .logo{
        margin-right: 0px;
    }
}