.navbar{
    float: right;
    display: flex;
    flex-direction: column;
}
.link{
    text-decoration: none;
}
@media only screen and (max-width: 900px) {
    .navbar{
        flex-direction: row;
    }
}
@media only screen and (max-width: 400px) {
    .link{
        max-width: 65px;
        max-height: 65px;
    }
}