img{
    max-height: 120px;
    float: left;
    margin-right: 30px;
}
.photoNHeadingNLinks{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:400px;
    margin-bottom: 50px;
}
.blue{
    color:#0a66c2;
}
.green{
    color:#26b859;
}
.red{
    color:#d63031;
}
@media only screen and (max-width: 900px) {
    .photoNHeadingNLinks{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
    }
    img{
        max-height: 120px;
        float: none;
        margin-right: 0px;
    }
    .about{
        width: 375px;
    }
    .red{
        margin-right: 0px;
    }
}
@media only screen and (max-width: 900px) {
    .about{
        width: 350px;
    }
    .photoNHeadingNLinks{
        width: 350px;
    }
}