img{
    max-height: 120px;
    float: left;
    margin-right: 30px;
}
.photoNHeadingNLinks{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:400px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    margin-right: 15px;
    color: black;
}
.blue{
    color:#0a66c2;
}
.green{
    color:#26b859;
}
.red{
    color:#d63031;
}